:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #0f172a;
  background-color: #f1f5f9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

#root {
  display: flex;
  flex-direction: column;
}

.btn-neumorphic {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border: none;
  border-radius: 12px;
  background: #1a1a1a;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3),
              -8px -8px 15px rgba(255, 255, 255, 0.1);
  color: #f1f5f9;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn-neumorphic--vertical {
  flex-direction: column;
}

.btn-neumorphic--extra-padding {
  padding: 12px;
}

@media screen and (min-width: 1024px) {
  .btn-neumorphic {
    padding: 12px 52px;
  }
}

.btn-neumorphic p {
  margin-block: 0px;
}

.btn-neumorphic:hover {
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3),
              -6px -6px 10px rgba(255, 255, 255, 0.1);
}

.btn-neumorphic:active {
  box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.3),
              inset -4px -4px 8px rgba(255, 255, 255, 0.1);
}

.pin-input {
  background-color:#f1f5f9;
  padding: 8px;
  color: #0f172a;
  margin-bottom: 8px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


@media screen and (max-width: 1024px) {
  button {
    width: 100%;
  }
}